window {
    margin: 0px;
    border: 2px solid #ffffff;
    background-color: rgba(10, 10, 20, 0.85);
    border-radius: 20px;
    font-family: Cantarell;
    font-size: 15px;
    color: #ffffff;
    outline-offset: 0px;
}

#input {
    margin: 8px;
    border: none;
    color: #ffffff;
    background-color: #11111b;
    border-radius: 12px;
    padding: 10px;
}

#inner-box {
    margin: 8px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 8px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 8px;
    border: none;
    color: #ffffff;
    border-radius: 0px;
}

#entry:selected {
    background-color: #88c0d0;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}

.entry:selected {
    background-color: #88c0d0;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}

